body {
  font-family: "Verdana", sans-serif;
  /* background: #740001; */
  background-size: 100%;
}
#quizContainer {
  border-width: 5px;
  border-style: solid;
  border-color: #f23832;
  padding: 15px;
  background: #cecece;
  color: #233688;
  min-width: 400px;
  max-width: 800px;
  /* causes this element to float in the middle of its parent */
  margin: auto;
  /* ONLY overrides margin-top ... other margins are same as declared above */
  margin-top: 50px;
}
 
.quizOption {
  cursor: pointer;
  margin: 5px;
  padding: 3px;
  border: 2px solid #272727;
  color: #272727
 
}
.quizOption:hover {
  color: #fff;
  background: #233688;
}
.answer {
  border: 2px solid #ccc;
  border-radius: 10px;
  padding: 20px;
  margin-bottom: 1em;
}
.answer p::after {
  content: ' ';
  display: block;
  clear: both;
}
.answer img {
  float: left;
  width: 300px;
  height: auto;
   margin: 0 1em 1em 0;
}
.hide {
  display: none;
}
#quizBtn, #takeAgain {
  color:white;
  background-color: #233688;
  border: #233688
}
#quizBtn:hover, #takeAgain:hover {
  color: #740001;
  border-radius: 5px;
  background-color: white;
}
 
#return:  {
  color:white;
  background-color: #233688;
  border: #233688
}
